<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
    	<class name="ecommerce.OpenCloseBrowser"/>
      	<class name="ecommerce.RegisterandLogin"/>
      	<class name="ecommerce.Shopping"/>
      	<class name="ecommerce.Search"/>
      	<class name="ecommerce.ConfirmPurchasing"/>
      	<class name="ecommerce.Logout"/>
      	
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
